{% extends "user_manager/base_user.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<img class='w-50 secondary_img tang_right' src="{% static "user_manager/img/reset_pass.jpg" %}" alt="">
<div class='d-flex justify-content-center align-items-center flex-column w-50 form_container'>
  {% comment %} <a href="{% url "home" %}"><img class="logo_form" src="{% static "home/img/logo.png" %}" alt="logo Elite Fit Center"></a> {% endcomment %}
  <h4>Cambiar contraseña</h4>
  <form class='user_form  w-75' method="POST">
    {% csrf_token %}
    {{ password_form|crispy }}
    <p class="not_blank">*Campos obligatorios</p>
    <button class="w-100" type="submit">Cambiar contraseña</button>
  </form>
</div>
{% comment %} <div class='w-50 secondary_img'></div> {% endcomment %}
{% endblock content %}
