{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block main %}
  {% if validlink %}
     <h4 class="login_title">Ingresa tu nueva contaseña</h4>
     <form class='user_form' method="POST">
       {% csrf_token %}
       {{ form|crispy}}
       <button type="submit">Establecer contraseña</button>
     </form>
  {% else %}
     <h2>Restablecimiento de contraseña fallido</h2>
     <p>El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
  {% endif %}

  <h6><a href=" {% url "home" %}">Volver</a></h6>
{% endblock main %}